.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

select{
    padding: 8px;
}

button{
    padding: 7px;
    background-color:cadetblue;
}

.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list__item{
    padding: 15px;
    width: 333px;
    margin-bottom: 30px;
    background-color:aquamarine;
}

.list__img{
    width: 333px;
}

 